
.notificationContainer {
    width: 816px;
    margin: 100px auto 50px;
    overflow: hidden;
    min-height: 550px;
}
.notificationBox {
    width: 100%;
}
.notificationHeader {
    width: 100%;
    overflow: hidden;
}
.alarmNumMobile {
    display: none;
    font-size: 30px;
    color: #fd0a0a;
    font-weight: bold;
}
.notificationHeader .title {
    font-size: 30px;
    font-weight: bold;
    line-height: 2em;
}
.notificationHeader .subTitle {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.5em;
}
.notificationBody {
    width: 100%;
    height: 100%;
    border-top: 1px solid #e3e3e3;
    margin-top: 23px;
}
.notificationBody li {
    overflow: hidden;
    border-bottom: 1px solid #e3e3e3;
    padding: 11px 0 17px 0;
}
.notificationBody li:hover {
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
.notificationBody li > div{
    overflow: hidden;
    display: inline-block;
}
.notificationBody li > div:first-child{
    margin-right: 20px;
    cursor: pointer;
}
.notificationBody li .userCondition div{
    font-size: 15px;
    line-height: 1.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
.notificationBody li .userCondition div span{
    font-weight: bold;
}
.notificationBody li .userCondition > span{
    color: rgba(33,33,33, 0.5);
    font-size: 14px;
    line-height: 1.5em;
}

@media screen and (max-width: 768px){
    .notificationContainer {
        width: 100%;
        padding: 0 28px;
        margin: 70px auto;
    }
    .notificationHeader .subTitle {
        display: none;
    }
    .notificationBody {
         border-top: none;
         margin-top: 0;
    }
    .notificationBody li > div:first-child{
        margin-right: 0;
        width: 20%;
    }
    .notificationBody li .userCondition {
        width: 80%;
    }
    .alarmNumMobile {
        display: block;
        float: left;
        padding-top: 15px;
    }
    .notificationHeader .title {
        float: left;
        margin-right: 6px;
    }
}